TABLE {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TR {
	FONT-WEIGHT: normal; TEXT-ALIGN: left
}
TD {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TH {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; VERTICAL-ALIGN: top; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.background1 {
	BORDER-RIGHT: #ffffff; BORDER-TOP: #ffffff; FONT-WEIGHT: normal; FONT-SIZE: 10pt; BORDER-LEFT: #ffffff; COLOR: #990000; BORDER-BOTTOM: #ffffff; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dad9c0
}
.background1Bold {
	BORDER-RIGHT: #ffffff; BORDER-TOP: #ffffff; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BORDER-LEFT: #ffffff; COLOR: #993300; BORDER-BOTTOM: #ffffff; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dad9c0
}
.background2 {
	BORDER-RIGHT: #ffffff; BORDER-TOP: #ffffff; FONT-SIZE: 10pt; BORDER-LEFT: #ffffff; BORDER-BOTTOM: #ffffff; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dad9c0
}
.background2Bold {
	BORDER-RIGHT: #ffffff; BORDER-TOP: #ffffff; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BORDER-LEFT: #ffffff; COLOR: #993300; BORDER-BOTTOM: #ffffff; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dad9c0
}
.background3 {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-STYLE: normal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f9f9f0
}
.background3Bold {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-STYLE: normal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f9f9f0
}
.background4Bold {
	FONT-WEIGHT: bolder; FONT-SIZE: 10pt; COLOR: #ffffcc; FONT-STYLE: normal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #999966
}
.background5 {
	BACKGROUND-COLOR: #cccc99
}
.bgcoloroption0 {
	BACKGROUND-COLOR: #dad9c0
}
.bgcoloroption1 {
	BACKGROUND-COLOR: #f5f5f5
}
.bgcoloroption2 {
	BACKGROUND-COLOR: white
}
.bgcoloroptionA {
	BACKGROUND-COLOR: #f9f9f0
}
.bgcoloroptionB {
	BACKGROUND-COLOR: #e8e8e8
}
.mac2background {
	BACKGROUND-COLOR: #fffffe
}
.colheadingdark {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.colheading {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f1f1e0
}
.fieldTitleLeftA {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.fieldTitleLeftB {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: black; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.fieldTitleLeftC {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.fieldTitleRightA {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.fieldTitleRightB {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.fieldTitleRightC {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.fieldTitleRightCLinked {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0000cc; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.fieldTitleCenterA {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.fieldTitleCenterB {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: black; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.fieldTitleCenterC {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.footerTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000066; FONT-STYLE: normal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.heading2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.menuTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.pageTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.regularTDBold {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.scotiaTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #333366; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.scotiaTitleSup {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #333366; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: small-caps
}
.tableColHeadings {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f9f9f0; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.tableSortedHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #999966; TEXT-DECORATION: none
}
.tableTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: black; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.tableTitles {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; VERTICAL-ALIGN: middle; COLOR: #000000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dad9c0
}
.tableTitlesLevel2 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dad9c0
}
.tableTitles3 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dad9c0
}
.tdBoldRight {
	FONT-WEIGHT: bold; TEXT-ALIGN: right
}
.chromeText {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.greenText {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #006633; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.greenTextBold {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #009900; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.normaltext {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.normalboldtext {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.normalboldredtext {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #a50000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redText {
	FONT-SIZE: 9pt; COLOR: #a50000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.redTextA {
	FONT-SIZE: 12pt; COLOR: #a50000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.redTextB {
	FONT-SIZE: 13pt; COLOR: #a50000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.redTextC {
	FONT-SIZE: 12pt; COLOR: #a50000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.redTextBold {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #a50000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.regularText {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.regularTextBold {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.printerFriendly {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
.buttonText {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.dropdownBox {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.dropdownBoxWithBkg {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f9f9f0
}
.formSubmission {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.orderInputText {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.printButtonText {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.radiobg {
	BACKGROUND: #fefefe; COLOR: #000000
}
TEXTAREA.exchText {
	WIDTH: 100%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.acct {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.acctA {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.acctB {
	FONT-SIZE: 13px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.acctC {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.acctCenter {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.acctCenterA {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.acctCenterB {
	FONT-SIZE: 13px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.acctCenterC {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.balance {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.balanceNotAvailableA {
	FONT-SIZE: 12px; COLOR: #a50000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.balanceNotAvailableB {
	FONT-SIZE: 13px; COLOR: #a50000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.balanceNotAvailableC {
	FONT-SIZE: 12px; COLOR: #a50000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.categoryName {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.colTotal {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dad9c0; TEXT-ALIGN: left
}
.colTotalR {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dad9c0; TEXT-ALIGN: right
}
.date {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333366; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.dateA {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333366; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.dateB {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #333366; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.dateC {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333366; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.dollarAmountA {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.dollarAmountB {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.dollarAmountC {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.dollarAmountBold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.dollarAmountRed {
	FONT-SIZE: 12px; COLOR: #a50000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.dollarAmountBoldRed {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #a50000; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.formattedDate {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.formattedDateB {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.negativeChange {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #cc0000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.negDollarA {
	FONT-SIZE: 12px; COLOR: #a50000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.negDollarB {
	FONT-SIZE: 13px; COLOR: #a50000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.negDollarC {
	FONT-SIZE: 12px; COLOR: #a50000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.noChange {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #996666; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.pageID {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000066; FONT-STYLE: normal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.positiveChange {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #006633; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.productNameBlueA {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000066; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.productNameBlueB {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000066; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.productNameBlueC {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000066; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.readOnlyTotal {
	WIDTH: 100px; TEXT-ALIGN: right
}
.returnInfo {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #a50000; FONT-STYLE: normal; FONT-FAMILY: Helvetica,Arial,Geneva
}
.subcol {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.subcolCenter {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.subcolRight {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.totalBalanceC {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.tableDataLeftA {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.tableDataRightA {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.tableDataCenterA {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.tableDataLeftB {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.tableDataRightB {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.tableDataCenterB {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.tableDataLeftC {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.tableDataRightC {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.tableDataCenterC {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.tableWarningData {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #a50000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tableWarningDataB {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #a50000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.total {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.totalA {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.totalB {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.totalC {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.totalBalanceA {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.totalBalanceB {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
#a:link {
	COLOR: #0000cc; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.hyperlinkItem:visited {
	COLOR: #000066; TEXT-DECORATION: none
}
A.hyperlinkItem:link {
	COLOR: #0000cc; TEXT-DECORATION: none
}
A.hyperlinkItem:hover {
	TEXT-DECORATION: underline
}
A.hyperlinkItem:active {
	TEXT-DECORATION: none
}
A.menuItem {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.menuLink:link {
	COLOR: #000099; TEXT-DECORATION: none
}
A.menuLink:visited {
	COLOR: #000066; TEXT-DECORATION: none
}
A.menuLink:hover {
	TEXT-DECORATION: underline
}
A.menuLink:active {
	TEXT-DECORATION: none
}
A.clFoldLinks {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.clSubLinks {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.accountLink {
	FONT-SIZE: 12px; COLOR: #0000cc; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.accountLinkA {
	FONT-SIZE: 12px; COLOR: #0000cc; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.accountLinkB {
	FONT-SIZE: 13px; COLOR: #0000cc; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.accountLinkC {
	FONT-SIZE: 12px; COLOR: #0000cc; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.clSubLinks2 {
	FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.clSubLinks2Red {
	FONT-SIZE: 8pt; COLOR: red; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.globallinks {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.helpLink {
	COLOR: black; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.helpLinkA {
	COLOR: black; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.helpLinkB {
	COLOR: black; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.helpLinkC {
	COLOR: black; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.linkName {
	FONT-SIZE: 9pt; COLOR: blue; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.SignOnLinks {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.SOLinksSmall {
	FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.disclaimers {
	BORDER-RIGHT: #ffffff; BORDER-TOP: #ffffff; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: #ffffff; COLOR: #000000; BORDER-BOTTOM: #ffffff; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dad9c0
}
.errorDisplay {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffcc; FONT-STYLE: italic; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #999966
}
.errMsg {
	FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.errMsgLeft {
	FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.footer {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.instructions {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.notes {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.redBoldNotes {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ce0000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.systemError1 {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #a50000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.systemError2 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #a50000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.subTabDark {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #999966; TEXT-ALIGN: center
}
.subTabLight {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: center
}
DIV.clFold {
	FONT-SIZE: 11px; WIDTH: 160px; CLIP: rect(0px 160px 300px 0px); FONT-FAMILY: Verdana; POSITION: absolute
}
DIV.clFoldSub {
	LEFT: 10px; VISIBILITY: hidden; WIDTH: 150px; CLIP: rect(0px 0px 0px 0px); POSITION: absolute
}
DIV.clFoldSub2 {
	LEFT: 15px; VISIBILITY: hidden; WIDTH: 145px; CLIP: rect(0px 0px 0px 0px); POSITION: absolute
}
#divFoldCont {
	LEFT: 3px; VISIBILITY: hidden; WIDTH: 160px; POSITION: relative; TOP: 0px; HEIGHT: 200px
}
